{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": false,
    "trailingComma": "es5",
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.json", "*.md", "*.yaml", "*.yml"],
            "options": {"tabWidth": 2}
        }
    ]
}
